.modal {
    width: 520px;
    min-height: 700px;
    height: fit-content;
    background-color: white;
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    outline: none;
    color: white;
    box-shadow: 0px 2.98px 7.46px 0px rgba(0, 0, 0, 0.1);
    animation: fade-in 0.2s ease;
  }

  .loading{
    height: 100%;
    text-align: center;
    color: white;
    animation: rotate360 750ms infinite linear;
  }
  
  .modal-overlay {
    outline: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(71, 71, 71, 0.274);
    z-index: 9998;
    flex-grow: 1;
    animation: fade-in 0.2s ease;
  }
  
  .modal h1, .modal h2, .modal p, .modal h4{
    color: #222831
  }

  .login-details{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 24px;
    border-bottom: 1px solid rgb(204, 204, 204);
    
  }
  
  

  .modal #logo{
    font-size: 36px;
    margin-top: 12px;
    
  }

  .login-details h2{
    position: absolute;
    right: 0;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    padding: 12px;
  }

  .modal form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 32px;
  }

  .modal h4{
    font-size: 16px;
    font-weight: 600;
    
    margin: 12px 0
  }
  .modal form .inputs h4{
    align-self: flex-start;
  }
  .modal form .inputs{
    margin-top: 24px ;
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .modal input, .item-display input, .item-display textarea{
    width: 100%;
    max-width: 500px;
    margin: 0 32px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);;
  }

  .modal input:focus, .modal input:active{
    outline: none;
    border-color: #1cc592;
  }

  .modal textarea{
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    height: 200px;
    resize: none;
    border-radius: 5px;
    padding: 12px;
  }

  .modal textarea:focus, .modal textarea:active{
    outline: none;
    border-color: #1cc592;
  }

  #no-account{
    margin-top: 32px;
    font-size: 18px;
    font-weight: 400;
    color: #1cc592;
    cursor: pointer;
    
  }

  .modal form button{
    margin-top: 32px;
    padding: 12px;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50px;
    border: none;
    background-color: #1cc592;
    color: white;
    transition: all 300ms ease;
  }

  .modal form button:hover{
    background-color: #055c42;
  }

  .autocomplete {
    height: 100%;
    z-index: 1000000000;
  }

  .pac-container{
    z-index: 10000000009;
  }

  
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  
  