
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mona Sans";
}

/* Define main colors */
:root{
  --primary-color: #1cc592;
  --text-color-dark: #242424;
  --text-color-light: #fff;
  --text-color-gray: rgb(155, 155, 155);
}

/* Font */
@font-face {
  font-family: "Mona Sans";
  src: local("Mona Sans"),
    url("./assets/fonts/Mona-Sans.ttf");
  font-display: swap;
  
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
 
  
}



.profile-pop-up {
  position: fixed;
  z-index: 9999999 !important;
  background-color: white;
  right: 0;
  margin-right: 24px;
  box-shadow: 0px 2.98px 7.46px 0px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 300px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
}

.profile-pop-up img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.Toastify{
 z-index: 99999999999999999999999999999;
}

.profile-details {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 12px;
}

.profile-details:hover {
  background-color: rgb(243, 243, 243);
}
.profile-details h1 {
  margin: 0 12px;
  color: var(--text-color-dark);
  font-size: 24px;
}
button{
  cursor: pointer;
}

.profile-pop-up p {
  cursor: pointer;
  margin-top: 14px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.profile-pop-up p:hover {
  background-color: rgb(243, 243, 243);
}

