@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 overflow: hidden;
  
}

.navigation {
  position: relative;
}

.profile-pop-up {
  position: absolute;
  z-index: 9999999 !important;
  background-color: white;
  right: 0;
  margin-right: 24px;
  box-shadow: 0px 2.98px 7.46px 0px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 300px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
}

.profile-pop-up img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.Toastify{
 z-index: 99999999999999999999999999999;
}

.profile-details {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 12px;
}

.profile-details:hover {
  background-color: rgb(243, 243, 243);
}
.profile-details h1 {
  margin: 0 12px;
  color: #222831;
  font-size: 24px;
}

.profile-pop-up p {
  cursor: pointer;
  margin-top: 14px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.profile-pop-up p:hover {
  background-color: rgb(243, 243, 243);
}

@media (max-width: 768px) {
  .App{
    overflow: auto !important;
  }
  /* Nav */
  .nav-wrapper {
    max-width: 640px;
    flex-direction: column-reverse;
  }
  nav {
    height: 100% !important;
    position: relative !important;
  }
  .nav-logo-search {
    flex-direction: column;
  }
  .nav-logo-search h1 {
    font-size: 14px;
  }

  .nav-elements{
    flex-direction: row-reverse !important;

  }
  .nav-elements span {
    
    border: 0 solid rgb(204, 204, 204);
    border-left: 1px;
    
  }

  .nav-elements span p {
    font-size: 13px;
  }
  .nav-offers {
    width: 95px !important;
  }

  nav input{
    margin: 0 !important;
  }
  .nav-logo-search {
    width: 100% !important;
  }
  

  /* Main */
  .main-banner{
    width: 100%;
    border: none !important;
    box-shadow: none !important;
  }
  .main-banner img{
    width: 350px !important;
  }
  .display-items-wrapper{
    display: grid;
  grid-template-columns: repeat(3, 1fr) !important; 
  grid-auto-rows: auto; 
  grid-gap: 4px !important; 
  padding: 4px;
  
  color: #222831;
  
}
.display-item img{
  width: 120px !important;
  border-radius: 8px !important;
  height: 100% !important;
  margin-top: 12px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  
  
}
.item-details-display{
  display: none !important;
}
.display-item{
  padding: 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-container {
  height: max-content !important;
  overflow: hidden;
  box-shadow: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 0px !important;
}
/* Footer */
.footer-elements, .footer-content, footer, .footer-element{
  flex-direction: column !important;
  padding: 0 !important;
  justify-content: center !important;
  
  height: max-content !important;
}
.footer-element{
  align-items: center!important;
}
.footer-element{
  margin: 12px 0 !important;
}
footer{
  height: max-content !important;
  flex-direction: column-reverse !important;
  margin-top: 24px;
}
footer h1{
  padding: 24px ;
}
/* Modal */
.listing{
  width: 400px !important;
  height: 100px !important;
  
}

.listing textarea{
  height: 50px !important;
}
/* Item Details */
.item-details-wrapper{
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100% !important;
  width: 100% !important;
}
#product-img{
  height: 350px !important;
}
.item-details-profile h4{
  font-size: 12px !important;
 
}
.item-details-profile{
  width: 100% !important;
 
}
.item-details{
  margin: 0 !important;
}
.item-details h2{
  font-size: 24px;
}
.item-details span{
  margin-top: 12px !important;
  margin-bottom: 12px;
}
.item-details span h4{
  font-size: 14px;
}
.item-details button{
  margin-top: 12px !important;
  font-size: 14px !important;
  
}
.description-wrapper{
  padding: 12px;
}
.description-wrapper h1{
  font-size: 26px !important;
}
.description-wrapper h3{
  font-size: 16px !important;
  font-weight: 500;
}
/* Offer modal */
.offer-modal{
  width: 350px !important;
}
/* Delete modal */
.modal-delete{
  width: 350px !important;
}
.modal-delete h2, .modal-delete button{
  font-size: 16px;
}
/* User Listings */
.user-listings img{
  width: 120px !important;
  height: 120px !important;
}
.user-listings h1{
  font-size: 18px !important;
}
.user-listings h3{
  font-size: 14px !important;
}
.user-listings .list-btn{
  font-size: 14px !important;
  margin: 0 !important;
  margin-top: 12px !important;
  width: 50%;
  border-radius: 8px;
}
/* Offers */
 #offer-title{
  font-size: 24px;
 }

 .no-items{
  font-size: 24px;
 }
 .offers-wrapper{
  grid-template-columns: repeat(1, 1fr) !important; 
  grid-auto-rows: auto; 
  grid-gap: 10px; 
  margin: 64px 0;
 }
 /* Login */
 .login-modal{
    width: 400px !important;
    height: 100% !important;
    overflow-y: auto !important;
 }
 /* Favorites */
 .Favorites h1{
  font-size:  24px;
 }
 .load{
  margin-bottom: 24px;
 }
}
