.listing{
    width: 600px;
    position: relative;
}

#exit-btn{
    position: absolute ; 
    top: 20px;
    left: 0;
    font-size: 24px;
    z-index: 99999999999999;
    color: #222831;
    cursor: pointer;
    margin-left: 20px;
}
#label-file-upload.drag-active {
    background-color: #ffffff;
  }

  #upload-btn{
    border-radius: 0;
    max-width: 180px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:medium;
  }
  #cloud{
    margin-right: 14px !important;
  }
  