.item-display{
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    position: relative;
    z-index: 0;
    color: #222831;
}

.item-viewer .display-items-wrapper{
  max-width: 1200px;
  width: 100%;
  margin-top: 24px;
  border-top: 1px solid rgb(204, 204, 204);
}

.item-details-wrapper img{
    max-width: 550px;
    width: 100%;
    height: 550px;
    image-rendering: auto;
    object-fit:contain;
    border-radius: 12px;
    border: 1px solid rgb(204, 204, 204);
    
}

.item-details-wrapper{
    margin-top: 64px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    height: 622px;
    padding: 36px;
    border-bottom: 1px solid rgb(204, 204, 204);
    position: relative;
}

.item-details img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: none;
    object-fit: cover;
    
}

#not-found{
    text-align: center ;
    align-self: center ;
    justify-self: center ;
    margin-top: 64px;
    color: #1cc592;
}

.item-details{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 24px;
    margin-right: 24px;
}

.item-details-profile{
    display: flex;
    align-items: center;
    justify-content: center;
 
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 12px;
    width: 90%;
    justify-self: flex-start !important;
}
.item-details-profile-elements{
    margin: 0 12px;
}

.title{
    margin: 16px;
    text-align: center;
}

.price{
    margin: 12px 0;
    font-size: 42px;
}

.item-details h4{
    font-size: 16px;
    font-weight: 500;
}

.item-details button, .list-btn{
    margin-top: auto;
    padding: 12px;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50px;
    border: none;
    background-color: #1cc592;
    color: white;
    transition: all 300ms ease;
    justify-self: flex-end;
  }

  .item-details button:hover, .list-btn{
    background-color: #1cc592;
  }

  .item-viewer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .description-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1200px;
  }

  .item-details span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
    font-size: 48px;
    cursor: pointer;
    color: #1cc592;
  }

  .description-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    
  }

  .description-wrapper h1{
    margin-top: 32px;
    color: #222831;
    font-size: 42px;
    
  }
  .item-display input, .item-display textarea{
    margin: 24px 0;
  }
  .item-display textarea{
    max-width: 100%;
    width: 100% !important;
    height: 400px;
    resize: none;
  }

  
    

  #user-edit{
    position: absolute;
    font-size: 48px;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .description-wrapper h3{
    margin: 24px 0;
  }

  .map{
    z-index: 999;
    width: 1000px;
    height: 1000px;
    overflow: auto;
  }

  .item-details-profile-elements{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }



  
