.Main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    
}

.Main p{
  font-size: 20px;
  font-weight: 400;
}

.main-banner img{
  width: 500px;
}

.main-banner{
  margin-top: 24px;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border:1px solid rgb(204, 204, 204);
  box-shadow: 0px 2.98px 7.46px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 24px;
}

.load{
    font-size: 64px;
    margin-top: 48px;
    color: #F67280;
    animation: rotate360 750ms infinite linear;
}

 .display-items-wrapper{
    display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-auto-rows: auto; 
  grid-gap: 10px; 
  margin: 64px 0;
  color: #222831;
  
}

 .display-item{
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
.list-btn{
  max-width: 500px;
  margin-top: 24px !important;
}
 .display-item img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    
}

.display-item img:hover{
  background-color: grey;
}

.image-container {
  position: relative;
  display: inline-block;
  height: 250px;
  overflow: hidden;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 8px;
}

.image-container img {
  transition: transform 0.3s ease;
}

.image-container:hover img {
  transform: scale(1.02);
}

.image-container::before,
.image-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 5px;
  background-color: #F67280;
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

.image-container:hover::before,
.image-container:hover::after {
  width: 100%;
}
@keyframes rotate360 {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
