.user-listings{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
    
}

.no-listings {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
}


.new-listing, .no-listings .new-listing{
    position: absolute;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    color: #F67280;
    
}
.user-listings h1, .no-listings h1{
    cursor: pointer;
   
    font-size: 48px;
    text-align: center;
    transition: all 300ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
  
}
.user-listings .user-listing-details h1, .no-listings .user-listing-details h1{
    cursor: auto;
}

.user-listings .user-listing-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user-listing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 100%;
    max-width: 1200px;
    width: 100%;
    margin-top: 62px;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 24px;
}

.user-listing img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 8px;
}
